<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="mobile-plugin-navigation-bar"
    version="0.0.5">
    <name>mobile-plugin-navigation-bar</name>
    <description>为移动端混合框架提供了操作原生导航栏的常用方法。</description>
    <license>Apache 2.0</license>
    <keywords>cordova,navibar</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/NaviBarPlugin.js" name="NaviBarPlugin">
        <clobbers target="window.plugins.NaviBarPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NaviBarPlugin">
                <param name="android-package" value="com.envisioncn.cordova.naviBar.NaviBarPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/envisioncn/cordova/naviBar/NaviBarPlugin.java" target-dir="src/com/envisioncn/cordova/naviBar" />
        <source-file src="src/android/com/envisioncn/cordova/naviBar/NaviBarView.java" target-dir="src/com/envisioncn/cordova/naviBar" />
     </platform>

     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="NaviBarPlugin">
                 <param name="ios-package" value="NaviBarPlugin" />
             </feature>
         </config-file>

         <header-file src="src/ios/NaviBarPlugin.h" />
         <source-file src="src/ios/NaviBarPlugin.m" />
         <header-file src="src/ios/UINavigationController+EnvHybrid.h" />

     </platform>

</plugin>
